{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Maio: Media All-in-One">
    <meta name="author" content="Jonathan Sawyer &lt;jonmsawyer(@)gmail.com&gt;">
    <meta name="contributors" content="Travis Veazey &lt;travis(@)kromey.us&gt;">
    <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">

    <title>Maio: Media All-in-One</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/bootstrap-custom.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
{% block stylesheets %}{% endblock stylesheets %}
{% block styles %}{% endblock styles %}
  </head>

  <body class="navbar-inverse">

{% include 'nav.html' %}

{% block content %}No content available{% endblock content %}

{% include 'footer.html' %}

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block javascripts %}{% endblock javascripts %}
{% block scripts %}{% endblock scripts %}
  </body>
</html>
