{% extends 'base.html' %}

{% block styles %}
<style>
div#img_panel { float: right; width: 200px; margin: 0;
                background-color: #303030; color: white; height: 100%; }
div#img_controls_container { text-align: center; margin-top: 8px; }
div#tn_container {
    text-align: center;
    width: 934px;
    border: 0px solid red;
    margin: 12px auto 50px auto; }
div.tn {
    float: left;
    width: 150px;
    height: 158px;
    border: 1px solid black;
    margin: -6px 2px 0 0;
    padding: 2px;
}
div.img { text-align: center; height: 132px; width: 132px; margin: 0 auto; }
div.txt { color: white; position: relative; top: -6px; }
input.cb { height: 16px; width: 16px; position: relative; top: 4px; }

</style>
{% endblock styles %}

{% block scripts %}
<script>
function parseSearch() {
    window.searchArgs = {}
    var search = window.location.search.substring(1);
    if (search === "") { return; }
    var list = search.split('&');
    jQuery.each(list, function(index, el) {
        var el_arr = el.split('=');
        if (el_arr.length == 1) {
            window.searchArgs[el_arr[0]] = null;
        }
        else if (el_arr.length == 2) {
            window.searchArgs[el_arr[0]] = el_arr[1];
        }
    });
}

function getSearch(key) {
    try {
        return window.searchArgs[key];
    } catch (e) {
        return false;
    }
}

function setSearch(key, value) {
    try {
        if (key !== null && key !== undefined) {
            window.searchArgs[key] = value;
            return true;
        }
        return false;
    } catch (e) {
        return false;
    }
}

function unsetSearch(key) {
    try {
        delete window.searchArgs[key];
        return true;
    } catch (e) {
        return false;
    }
}

function searchEncode() {
    var search = "";
    for (var key in window.searchArgs) {
        var val = window.searchArgs[key];
        if (val !== undefined && val !== null) {
            search = search + '&' + key + "=" + val;
        }
        else {
            search = search + '&' + key;
        }
    }
    return search.substring(1);
}

function setImageContainerHeight(callback) {
    var height_offset = 52;
    var width_offset = 304;
    
    var img_container_height = $('#tn_container').height();
    if (img_container_height < $(window).height()) {
        $("#img_panel").height($(window).height() - height_offset - height_offset);
    }
    else {
        $("#img_panel").height(img_container_height);
    }

    if (callback && typeof(v) == "function") { callback(); }
}

function setPage(num) {
    setSearch('page', num);
    window.location.search = searchEncode();
}

$(window).resize(setImageContainerHeight);

$(document).keydown(function(e) {
    switch(e.which) {
    case 37: // left
        {% if files.has_previous %}
        setPage({{ files.previous_page_number }});
        {% endif %}
    break;
    
    case 38: // up
        setPage(1);
    break;
    
    case 39: // right
        {% if files.has_next %}
        setPage({{ files.next_page_number}});
        {% endif %}
    break;
    
    case 40: // down
        setPage({{ files.paginator.num_pages }});
    break;

    default: return; // exit this handler for other keys
    }
    
    e.preventDefault(); // prevent the default action (scroll / move caret)
});

$(document).ready(function() {
    parseSearch();

    $('button.view.list').click(function() {
        setSearch('view', 'list');
        window.location.search = searchEncode();
    });
    $('button.view.tn').click(function() {
        unsetSearch('view');
        window.location.search = searchEncode();
    });

    setImageContainerHeight();
});
</script>
{% endblock scripts %}

{% block content %}
<style>
  table { width: auto; margin: 0 auto; border: 1px solid black; }
  table td, table th { border: 1px solid black; }
  table th { text-align: center; padding: }
  .row1 { background-color: #eee; }
</style>

<div id="img_panel" class="panel">
    <div id="img_controls_container">
        <div id="img_controls" class="btn-group btn-group-lg pagination-center">
            <button type="button" class="btn btn-default btn-lg view tn">
                <span class="glyphicon glyphicon-th"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg view list">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </div>
    </div>
</div>


<div id="tn_container">
{% if view == 'list' %}
<table style="background-color: #fff; margin-bottom: 100px;">
<tr>
    <th>#</th>
    <th>Info</th>
    <th><input type="checkbox"></th>
    <th>Name</th>
    <th>Rating</th>
    <th>Views</th>
    <th>Bytes</th>
</tr>
{% for file in files %}
<tr class="{% cycle 'row1' 'row2' %}">
    <td>{{ file.num }}</td>
    <td><span class="badge">T</span> <span class="badge">&nbsp;I&nbsp;</span></td>
    <td><input type="checkbox" name="bulk_edit" value="{{ file.id }}"></td>
    <td><a href="{% url "app:images_view" %}#{{ file.id }}">{{ file.file_name }}</a></td>
    <td>{{ file.rating }}</td>
    <td>{{ file.views }}</td>
    <td>{{ file.size }} B</td>
</tr>
{% empty %}
<tr><td colspan="7">No images in the database.</td></tr>
{% endfor %}
</table>
{% else %}
{% for file in files %}
<label for="{{ file.id }}"><div class="tn">
    <div class="img">
        <a href="{% url "app:images_view" %}#{{ file.id }}"
        ><img src="{% url 'app:get_tn' 'tn' file.id %}" /></a>
    </div>
    <div class="txt">
        <input class="cb" type="checkbox" id="{{ file.id }}" />
        <span class="badge">T</span> <span class="badge">&nbsp;I&nbsp;</span>
        Rating: {% if file.rating %}{{ file.rating }}{% else %}0{% endif %}
    </div>
</div></label>
{% endfor %}
<div style="clear: both;"></div>
{% endif %}
</div>

<div style="text-align: center; width: 100%; position: fixed; bottom: 0; background-color: #222;">
<ul class="pagination pagination-sm" style="margin: 5px auto 0 auto; width: auto;">
    {% if files.has_previous %}
    <li class=""><a onclick="setPage(1);">&laquo;&laquo;</a></li>
    <li class=""><a onclick="setPage({{ files.previous_page_number }});">&laquo;</a></li>
    {% else %}
    <li class="disabled"><a onclick="setPage(1);">&laquo;&laquo;</a></li>
    <li class="disabled"><a onclick="setPage(1);">&laquo;</a></li>
    {% endif %}

    {% for page in page_range %}
    <li class="{% if page == files.number %}active{% endif %} {% if page == '...' %}disabled{% endif %}"><a onclick="setPage({% if page != '...' %}{{ page }}{% else %}{{ files.number }}{% endif %});">{{ page }}</a></li>
    {% endfor %}

    {% if files.has_next %}
    <li class=""><a onclick="setPage({{ files.next_page_number }});">&raquo;</a></li>
    <li class=""><a onclick="setPage{{ files.paginator.num_pages }dd});">&raquo;&raquo;</a></li>
    {% else %}
    <li class="disabled"><a onclick="setPage({{ files.number }});">&raquo;</a></li>
    <li class="disabled"><a onclick="setPage({{ files.number }});">&raquo;&raquo;</a></li>
    {% endif %}
</ul>
</div>
{% endblock content %}
