{% extends 'base.html' %}

{% block styles %}
<style>
img#view_image { display: block; margin: 0 auto; }
div#img_container {  }
div#img_panel { float: right; width: 300px; margin: 0;
                background-color: #303030; color: white; }
div#img_controls_container { text-align: center; margin-top: 8px; }
div#img_count_stats { text-align: center; margin-top: 8px; }
div#img_random_selector { text-align: center; margin-top: 8px; }
div#img_name { max-width: 298px; overflow: hidden; }
</style>
{% endblock styles %}

{% block javascripts %}
<script src="{{ STATIC_URL }}js/imagesloaded.pkgd.min.js"></script>
{% endblock javascripts %}

{% block scripts %}
<script>
function triggerImageResize(img) {
    if (!img) {
        img = $('#view_image');
    }
    var div = $('#img_container');

    var image_height = img.height();
    var image_width = img.width();
    var image_aspectratio = img.attr('data-aspectratio');
    var div_aspectratio = div.width() / div.height();

    if (div_aspectratio > image_aspectratio) {
        img.width('');
        img.height(div.height()-1);
    }
    else {
        img.height('');
        img.width(div.width()-1);
    }
}

function setImageContainerHeight(callback) {
    var height_offset = 52;
    var width_offset = 304;
    $('#img_container').height($(window).height() - height_offset);
    $('#img_container').width($(window).width() - width_offset);

    $('#img_panel').height($(window).height() - height_offset);

    if (callback) { callback(); }
}

function getHashImage(e) {
    // Set the height and width of the image container
    setImageContainerHeight();
    
    var hash = window.location.hash.substring(1);

    var img = new Image();
    img.onload = function(e) {
        this.setAttribute("data-height", this.height);
        this.setAttribute("data-width", this.width);
        this.setAttribute("data-aspectratio", this.width/this.height);
        this.setAttribute("data-id", hash);
        this.setAttribute("id", "view_image");

        $.ajax({
            url: '/images/getthis/'+hash,
            type: 'GET',
            cache: false,
            success: function(ob) {
                $('#img_number').html(ob.number);
                $('#img_count').html(ob.count);
                $('#img_name').html(ob.name);
            },
        });
        $('#view_image').hide();
        $('#view_image').replaceWith(img);
        triggerImageResize();
        $('#view_image').show();
    };
    img.src = '/get/'+hash;
}

window.onhashchange = getHashImage;

function parseSearch() {
    window.searchArgs = {}
    var search = window.location.search.substring(1);
    if (search === "") { return; }
    var list = search.split('&');
    jQuery.each(list, function(index, el) {
        var el_arr = el.split('=');
        if (el_arr.length == 1) {
            window.searchArgs[el_arr[0]] = null;
        }
        else if (el_arr.length == 2) {
            window.searchArgs[el_arr[0]] = el_arr[1];
        }
    });
}

function getSearch(key) {
    try {
        return window.searchArgs[key];
    } catch (e) {
        return false;
    }
}

function setSearch(key, value) {
    try {
        if (key !== null && key !== undefined) {
            window.searchArgs[key] = value;
            return true;
        }
        return false;
    } catch (e) {
        return false;
    }
}

function unsetSearch(key) {
    try {
        delete window.searchArgs[key];
        return true;
    } catch (e) {
        return false;
    }
}

function searchEncode() {
    var search = "";
    for (var key in window.searchArgs) {
        var val = window.searchArgs[key];
        if (val !== undefined && val !== null) {
            search = search + '&' + key + "=" + val;
        }
        else {
            search = search + '&' + key;
        }
    }
    return search.substring(1);
}

var image_loading = false;
function getPrevImage() {
    if (!image_loading) {
        image_loading = true;
        if (window.getRandom) {
            var urlpart = "getrandomprev";
        }
        else {
            var urlpart = "getprev";
        }
        $.ajax({
            url: '/images/'+urlpart+'/'+$('#view_image').attr('data-id'),
            type: 'GET',
            cache: false,
            success: function(ob) {
                window.location.hash = ob.id;
                if (window.playId) {
                    clearInterval(window.playId);
                    window.playId = setInterval(getNextImage, window.playInterval);
                }
                image_loading = false;
            }
        });
    }
}

function getNextImage() {
    if (!image_loading) {
        image_loading = true;
        if (window.getRandom) {
            var urlpart = "getrandomnext";
        }
        else {
            var urlpart = "getnext";
        }
        $.ajax({
            url: '/images/'+urlpart+'/'+$('#view_image').attr('data-id'),
            type: 'GET',
            cache: false,
            success: function(ob) {
                window.location.hash = ob.id;
                if (window.playId) {
                    clearInterval(window.playId);
                    window.playId = setInterval(getNextImage, window.playInterval);
                }
                image_loading = false;
            }
        });
    }
}

function playImages() {
    if (window.playId) { return; }
    setSearch('play', '1');
    window.location.search = searchEncode();
    window.playId = setInterval(getNextImage, window.playInterval);
    $('#img_controls .img-controls-pause').show();
    $('#img_controls .img-controls-play').hide();
}

function randomizeImages() {
    setSearch('random', '1');
    window.location.search = searchEncode();
    window.getRandom = true;
}

function unrandomizeImages() {
    $.ajax({
        url: '/images/unset_random/',
        type: 'GET',
        cache: false,
        success: function(ob) {
            console.log(ob);
            if (ob.ok) {
                unsetSearch('random');
                window.location.search = searchEncode();
                window.getRandom = false;
            }
            else {
                var rand = $("#img_random");
                rand.prop('checked', true);
            }
        },
    });
}

function checkRandomBox() {
    var rand = $("#img_random");
    if (rand.is(":checked")) {
        randomizeImages();
    }
    else {
        unrandomizeImages();
    }
}

function pauseImages() {
    if (window.playId) {
        clearInterval(window.playId);
        unsetSearch('play');
        window.playId = null;
        window.location.search = searchEncode();
        $('#img_controls .img-controls-pause').hide();
        $('#img_controls .img-controls-play').show();
    }
}

$(document).ready(function() {

    // Grab the hash tag value and load the appropriate image
    var hash = window.location.hash.substring(1);
    if (hash == "") {
        var hash_arr = window.location.href.split('/')
        hash = hash_arr[hash_arr.length - 1];
        if (hash.length == 36) {
            window.location.href = "/images/view#" + hash;
        }
        return;
    }
    
    getHashImage();

    $("#img_controls .img-controls-forward").click(getNextImage);
    $("#img_controls .img-controls-backward").click(getPrevImage);
    $("#img_controls .img-controls-play").click(playImages);
    $("#img_controls .img-controls-pause").click(pauseImages);
    $("#img_random").click(checkRandomBox);
    
    parseSearch();
    var play = getSearch('play');
    var random = getSearch('random');

    window.playInterval = 5000;
    if (play) {
        playImages();
    }

    if (random) {
        window.getRandom = true;
        $('#img_random').prop('checked', true);
        randomizeImages();
    }
    else {
        window.getRandom = false;
        $('#img_random').prop('checked', false);
    }

});

$(window).resize(function() {
    setImageContainerHeight();
    triggerImageResize();
});

$(document).keydown(function(e) {
    switch(e.which) {
    case 37: // left
       getPrevImage(); 
    break;
    
    case 38: // up
    break;
    
    case 39: // right
        getNextImage();
    break;
    
    case 40: // down
    break;

    case 80: // p
        var play = getSearch('play');
        if (play) { pauseImages(); }
        else { playImages(); }
    break;

    case 82: // r
        var random = getSearch('random');
        if (random) { unrandomizeImages(); }
        else { randomizeImages(); }
    break;
    
    default: return; // exit this handler for other keys
    }
    
    e.preventDefault(); // prevent the default action (scroll / move caret)
});
</script>
{% endblock scripts %}


{% block content %}
<div id="img_panel" class="panel">
    <div id="img_controls_container">
        <div id="img_controls" class="btn-group btn-group-lg pagination-center">
            <button type="button" class="btn btn-default img-controls-backward"><span class="glyphicon glyphicon-backward"> </span></button>
            <button type="button" class="btn btn-default img-controls-play"><span class="glyphicon glyphicon-play"> </span></button>
            <button type="button" class="btn btn-default img-controls-pause" style="display: none;"><span class="glyphicon glyphicon-pause"> </span></button>
            <button type="button" class="btn btn-default img-controls-forward"><span class="glyphicon glyphicon-forward"> </span></button>
        </div>
    </div>
    <div id="img_count_stats">
        <div id="img_name"> </div>
        <span id="img_number" class="tag">0</span> of <span id="img_count">0</span> images
    </div>
    <div id="img_random_selector">
        <label for="img_random">Random?</label>
        <input type="checkbox" name="img_random" id="img_random" />
    </div>
</div>
<div id="img_container" class="navbar-inverse"><img id="view_image"{% if image %} src="{% url "app:get_file" image.id %}"{% endif %} /></div>
{% endblock content %}
